$page-margin-width: 10%;
$mobile-width: 990px;

.stripe {
	display: flex;
	flex-direction: column;
	background-color: gainsboro;
	padding: 1em $page-margin-width;
	margin-bottom: 1em;
	.item-group {
		display: flex;
		.half-column {
			width: 48%;
			margin-left: 1%;
			margin-right: 1%;
		}
	}
	.item-group:nth-child(even) {
		flex-direction: row-reverse;
	}
}

section.portfolio {
	padding: 1em $page-margin-width;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: row;
	.spine {
		width: 50px;
		background-color: white;
		min-height: 500px;
	}
	.column {
		flex-grow: 5;
		// background-color: lavender;
		min-height: 500px;
		display: flex;
		flex-direction: column;
	}
}

.hidden {
	display: none;
}
