$page-margin-width: 10%;
$mobile-width: 990px;

.stripe {
	display: flex;
	flex-direction: column;
	background-color: gainsboro;
	padding: 1em $page-margin-width;
	.item-group {
		display: flex;
		.half-column {
			width: 48%;
			margin-left: 1%;
			margin-right: 1%;
		}
	}
	.item-group:nth-child(even) {
		flex-direction: row-reverse;
	}
}

section.portfolio {
	padding: 0 $page-margin-width;
	max-width: 1000px;
	margin: auto;
	display: flex;
	.column {
		flex-grow: 5;
		min-height: 500px;
		display: flex;
		flex-direction: column;
	}
}
@media (min-width: $mobile-width + 1) {
	section.portfolio {
		flex-direction: row;
		.spine {
			width: 50px;
			min-height: 500px;
		}
	}
}
@media (max-width: $mobile-width) {
	section.portfolio {
		flex-direction: column;
	}
}

.hidden {
	display: none;
}
