body {
  margin: 0;
  background-color: #2b000c;
  font-family: "Exo", sans-serif;
}

a {
  color: #821517;
}

p {
  font-weight: 500;
  font-size: 18px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

h1, h2, h3 {
  margin: 0 auto;
}

code {
  font-size: 1.25em;
  display: inline;
}

section.intro {
  position: relative;
  color: white;
  background-color: #1f0009;
  border-bottom: 2px solid #f89c2a;
  padding-top: 1px;
}

.intro h1, .intro h2 {
  margin: 0.25em 15px;
}

#animated-bg {
  height: 400px;
  position: absolute;
  left: 0;
}

.logo {
  float: left;
  margin: 0.25em;
  max-height: 80px;
  max-width: 150px;
}

.mission-statement {
  text-align: center;
  font-size: 1.25em;
}

@media (min-width: 1025px) {
  #animated-bg {
    display: block;
    width: 100%;
  }
  section.intro {
    min-height: 450px;
  }
  .mission-statement {
    position: absolute;
    bottom: .5em;
    width: 98%;
  }
  section.portfolio {
    flex-direction: row;
  }
  section.portfolio .spine {
    width: 100px;
    min-height: 500px;
  }
}

@media (max-width: 1024px) {
  #animated-bg {
    display: none;
  }
  section.intro {
    min-height: 200px;
  }
  section.portfolio {
    flex-direction: column;
  }
  .block .image {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .intro {
    text-align: center;
    padding: 1em;
  }
  .logo {
    display: none;
  }
}

.centered-node {
  margin: -18px auto -4px;
  width: 170px;
  position: relative;
  z-index: 1;
}

section.portfolio {
  max-width: 1000px;
  margin: auto;
  display: flex;
}

section.portfolio .column {
  flex-grow: 5;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  margin-bottom: 2em;
}

.portfolio .block {
  margin: 19px auto;
  display: block;
  border: 2px solid #f89c2a;
  box-shadow: 0 0 0 white;
  transition: border-color .25s, box-shadow .25s;
  box-sizing: border-box;
  z-index: 10;
  position: relative;
}

a.block:hover {
  border-color: white;
  box-shadow: 0 0 5px white;
}

.block .image {
  display: block;
  width: 463px;
}

.links {
  display: block;
  margin: -1.3em auto 0;
  font-family: "Exo", sans-serif;
  font-weight: 500;
  width: 467px;
  max-width: 100%;
}

.links .link {
  float: left;
  background: url("/img/link-left.svg");
  background-position: right;
  width: 4.25em;
  padding-left: .25em;
  text-decoration: none;
}

.links .source {
  float: right;
  background: url("/img/link-right.svg");
  text-align: right;
  width: 4.25em;
  padding-right: .25em;
  text-decoration: none;
}

.links .link:hover, .links .link:focus, .links .link:active, .links .source:hover, .links .source:focus, .links .source:active {
  text-decoration: underline;
}

.block.text {
  position: relative;
  background-color: white;
  border-color: white;
  padding: 0 1em;
  max-width: 400px;
  line-height: 1.7em;
}

.block.text::before, .block.text::after {
  content: "";
  display: block;
  position: absolute;
  width: 120%;
  height: 12px;
  left: -10%;
  z-index: -1;
}

.block::before {
  background: url("/img/top-bracket.svg") no-repeat center;
  top: -10px;
}

.block.text::after {
  background: url("/img/bottom-bracket.svg") no-repeat center;
  bottom: -12px;
}

.vertical-join {
  background-image: url("/img/vertical-join-1.png");
  background-position: center;
  background-repeat: repeat-y;
  height: 50px;
  display: block;
  margin-top: -20px;
  margin-bottom: -20px;
  z-index: -1;
}

.vertical-divider {
  display: block;
  height: 50px;
}

@media (min-width: 1025px) {
  .spine {
    background-image: url("/img/spine.png");
    background-position: center 0px;
    background-repeat: repeat-y;
    width: 100px;
    position: relative;
  }
  .attach-point {
    background-repeat: no-repeat;
    position: absolute;
    width: 100px;
    height: 50px;
    z-index: -1;
  }
  .first.attach-point {
    background-image: url("/img/spine-left.png");
    background-position: right;
    right: 12%;
    top: 50px;
  }
  .second.attach-point {
    background-image: url("/img/spine-right.png");
    background-position: left;
    left: 13%;
    top: 300px;
  }
  .third.attach-point {
    background-image: url("/img/spine-left.png");
    background-position: right;
    right: 12%;
    top: 950px;
  }
  .fourth.attach-point {
    background-image: url("/img/spine-left.png");
    background-position: right;
    right: 12%;
    top: 950px;
  }
  .fifth.attach-point {
    background-image: url("/img/spine-left.png");
    background-position: right;
    right: 12%;
    top: 1400px;
  }
}

.stripe {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1em 10%;
  clear: both;
}

.stripe h1 {
  text-align: center;
}

.stripe .item-group {
  display: flex;
}

.stripe .item-group .half-column {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}

.stripe .item-group:nth-child(even) {
  flex-direction: row-reverse;
}

.stripe.hidden {
  display: none;
}

.small-projects-row {
  background-color: gray;
  padding: 1em;
  text-align: center;
}

.stripe.intro-text {
  font-size: 22px;
  padding: 1em 20%;
}

.legend {
  background: white;
  width: 463px;
  padding: 10px;
}

section.contact {
  background-color: #1f0008;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 500;
}

.contact-point {
  margin: .5em;
}

.contact-point a {
  color: #f89c2a;
  text-decoration: none;
}

.contact-point a:hover, .contact-point a:active, .contact-point a:focus {
  color: #fab561;
}

.contact-point img {
  height: 2.25em;
  display: inline;
  vertical-align: -60%;
}

section.coded-with {
  padding: .5em;
}

section.coded-with p {
  text-align: center;
  text-transform: uppercase;
  color: #5c0017;
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: .1em;
}

section.coded-with a {
  margin: 0 10px;
  opacity: 0.75;
  transition: opacity 0.25s;
}

section.coded-with a:hover, section.coded-with a:active, section.coded-with a:focus {
  opacity: 1;
}

section.coded-with img {
  height: 44px;
  vertical-align: middle;
}
