$crimson : #821517;
$heart: hsl(351, 96%, 11%);
$orange: #f89c2a;
$yellow: #f7f399;
$slate: hsl(0, 0%, 16%);
$mobile-width: 1024px;
$page-margin-width: 10%;
$image-block-width: 463px;

body {
	margin: 0;
	background-color: #2b000c;
}
a {
	color: #821517;
}
p {
	font-family: "Exo", sans-serif;
	font-weight: 500;
}
h1 {
	font-family: "Exo", sans-serif;
	font-size: 32px;
}
h2 {
	font-family: "Exo", sans-serif;
	font-size: 22px;
	font-weight: 600;
}
h1, h2, h3 {
	margin: 0 auto;
}
code {
	font-size: 1.25em;
}

section.intro {
	position: relative;
	color: white;
	background-color: hsl(343, 100%, 6%);
	border-bottom: 2px solid $orange;
}
.intro h1, .intro h2 {
	margin: 0.25em 1em;
}
#animated-bg {
	height: 400px;
	position: absolute;
	left: 0;
}
.logo {
	float: left;
	margin: 0.25em;
	max-height: 80px;
	max-width: 150px;
}
.mission-statement {
	text-align: center;
	font-size: 1.25em;
}

@media (min-width: $mobile-width + 1) {
	#animated-bg {
		display: block;
		width: 100%;
	}
	section.intro {
		min-height: 450px;
	}
	.mission-statement {
		position: absolute;
		bottom: .5em;
		width: 98%;
	}
	section.portfolio {
		flex-direction: row;
		.spine {
			width: 100px;
			min-height: 500px;
		}
	}
}
@media (max-width: $mobile-width) {
	#animated-bg { display: none; }
	section.intro {
		min-height: 200px;
	}
	section.portfolio {
		flex-direction: column;
	}
	.block .image {
		max-width: 100%;
	}
}
@media (max-width: 600px) {
	.intro {
		text-align: center;
		padding: 1em;
	}
	.logo {
		display: none;
	}
}

.centered-node {
	margin: -18px auto -4px;
	width: 170px;
	position: relative;
	z-index: 1;
}
section.portfolio {
	max-width: 1000px;
	margin: auto;
	display: flex;
	.column {
		flex-grow: 5;
		min-height: 500px;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 0;
		margin-bottom: 2em;
	}
}
.portfolio .block {
	margin: 20px auto;
	display: block;
	border: 2px solid $orange;
	box-shadow: 0 0 0 white;
	transition: border-color .25s, box-shadow .25s;
	box-sizing: border-box;
	z-index: 10;
}
a.block:hover {
	border-color: white;
	box-shadow: 0 0 5px white;
}
.block .image {
	display: block;
	width: $image-block-width;
}
.block.text {
	position: relative;
	background-color: white;
	border-color: white;
	padding: 0 1em;
	max-width: 400px;
	line-height: 1.7em;
}
.block.text::before, .block.text::after {
	content: "";
	display: block;
	position: absolute;
	width: 120%;
	height: 34px;
	left: -10%;
	z-index: -1;
}
.block.text::before {
	background: url(../img/top-bracket.svg) no-repeat;
	top: -7px;
}
.block.text::after {
	background: url(../img/bottom-bracket.svg) no-repeat;
	bottom: -7px;
}
.vertical-join {
	background-image: url('/img/vertical-join.png');
	background-position: center;
	background-repeat: repeat-y;
	height: 40px;
	display: block;
	margin-top: -20px;
	margin-bottom: -20px;
}
.vertical-divider {
	display: block;
	height: 50px;
}
@media (min-width: $mobile-width + 1) {
	.spine {
		background-image: url('/img/spine.png');
		background-position: center 0px;
		background-repeat: repeat-y;
		width: 100px;
		position: relative;
	}
	.attach-point {
		background-repeat: no-repeat;
		position: absolute;
		width: 100px;
		height: 50px;
		z-index: -1;
	}
	.first.attach-point {
		background-image: url('/img/spine-left.png');
		background-position: right;
		top: 100px;
		right: 12%;
	}
	.second.attach-point {
		background-image: url('/img/spine-right.png');
		background-position: left;
		top: 300px;
		left: 13%;
	}
	.third.attach-point {
		background-image: url('/img/spine-left.png');
		background-position: right;
		top: 900px;
		right: 12%;
	}
	.fourth.attach-point {
		background-image: url('/img/spine-right.png');
		background-position: left;
		top: 1300px;
		left: 13%;
	}
	.fifth.attach-point {
		background-image: url('/img/spine-left.png');
		background-position: right;
		top: 1400px;
		right: 12%;
	}
}
.stripe.hidden {
	display: none;
}
.small-projects-row {
	background-color: gray;
	padding: 1em;
	text-align: center;
}
.stripe.intro-text {
	font-size: 22px;
	padding: 1em 20%;
}
section.contact {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	font-family: "Exo", sans-serif;
	font-weight: 500;
}
.contact-point {
	margin: .5em;
}
.contact-point a {
	color: $orange;
	text-decoration: none;
}
.contact-point img {
	height: 2.25em;
	display: inline;
	vertical-align: -60%;
}
.stripe {
	display: flex;
	flex-direction: column;
	background-color: hsla(0,0%,0%, .5);
	color: white;
	padding: 1em $page-margin-width;
	clear: both;
	h1 {
		text-align: center;
	}
	.item-group {
		display: flex;
		.half-column {
			width: 48%;
			margin-left: 1%;
			margin-right: 1%;
		}
	}
	.item-group:nth-child(even) {
		flex-direction: row-reverse;
	}
}
