body { margin: 0; }
a {
	color: #821517;
}
p {
	font-family: "Exo", sans-serif;
}
h1 {
	font-family: "Exo", sans-serif;
	text-align: center;
}
.animated-bg {
	height: 400px;
	background: url("/img/Header-mockup.png");
	background-position: center;
}
.portfolio .block {
	width: 400px;
	margin: 20px auto;
	display: block;
	border: 2px solid hsl(0, 0%, 10%);
	box-sizing: border-box;
}
.block.text {
	background-color: white;
	padding: 0 1em;
}
.vertical-join {
	background-image: url('/img/vertical-join.png');
	background-position: center;
	background-repeat: repeat-y;
	width: 400px;
	height: 40px;
	display: block;
	margin-top: -20px;
	margin-bottom: -20px;
}
.vertical-divider {
	display: block;
	height: 50px;
	width: 400px;
}
.small-projects-row {
	background-color: gray;
	padding: 1em;
	text-align: center;
}
.stripe.intro-text {
	font-size: 22px;
	padding: 1em 20%;
}
