body { margin: 0; }
a {
	color: #821517;
}
p {
	font-family: "Exo", sans-serif;
}
h1 {
	font-family: "Exo", sans-serif;
	text-align: center;
}
#animated-bg {
	height: 400px;
	// width: 100%;
}
.portfolio .block {
	width: 400px;
	margin: 20px auto;
	display: block;
	border: 2px solid hsl(0, 0%, 10%);
	box-sizing: border-box;
	z-index: 10;
}
.block.text {
	background-color: white;
	padding: 0 1em;
}
.block .image {
	max-width: 100%;
}
.vertical-join {
	background-image: url('/img/vertical-join.png');
	background-position: center;
	background-repeat: repeat-y;
	min-width: 400px;
	height: 40px;
	display: block;
	margin-top: -20px;
	margin-bottom: -20px;
}
.vertical-divider {
	display: block;
	height: 50px;
	width: 400px;
}
.spine {
	background-image: url('/img/spine.png');
	background-position: center 0px;
	width: 50px;
	position: relative;
}
.attach-point {
	background-repeat: no-repeat;
	position: absolute;
	width: 100px;
	height: 50px;
	z-index: 5;
}
.first.attach-point {
	background-image: url('/img/spine-left.png');
	background-position: right;
	top: 100px;
	right: 0px;
}
.second.attach-point {
	background-image: url('/img/spine-right.png');
	background-position: left;
	top: 300px;
	left: 0px;
}
.third.attach-point {
	background-image: url('/img/spine-left.png');
	background-position: right;
	top: 700px;
	right: 0px;
}
.small-projects-row {
	background-color: gray;
	padding: 1em;
	text-align: center;
}
.stripe.intro-text {
	font-size: 22px;
	padding: 1em 20%;
}
